.animate__animated.delay-50 {
    animation-delay: 50ms;
}
.animate__animated.delay-100 {
    animation-delay: 100ms;
}
.animate__animated.delay-150 {
    animation-delay: 150ms;
}
.animate__animated.delay-200 {
    animation-delay: 200ms;
}
.animate__animated.delay-250 {
    animation-delay: 250ms;
}
.animate__animated.delay-300 {
    animation-delay: 300ms;
}
.animate__animated.delay-350 {
    animation-delay: 350ms;
}
.animate__animated.delay-400 {
    animation-delay: 400ms;
}
.animate__animated.delay-450 {
    animation-delay: 450ms;
}
.animate__animated.delay-500 {
    animation-delay: 500ms;
}
.animate__animated.delay-550 {
    animation-delay: 550ms;
}
.animate__animated.delay-600 {
    animation-delay: 600ms;
}
.animate__animated.delay-650 {
    animation-delay: 650ms;
}
.animate__animated.delay-700 {
    animation-delay: 700ms;
}
.animate__animated.delay-750 {
    animation-delay: 750ms;
}
.animate__animated.delay-800 {
    animation-delay: 800ms;
}
.animate__animated.delay-850 {
    animation-delay: 850ms;
}
.animate__animated.delay-900 {
    animation-delay: 900ms;
}
.animate__animated.delay-950 {
    animation-delay: 950ms;
}
.animate__animated.delay-1000 {
    animation-delay: 1000ms;
}
